<H1>Dog registration confirmation</H1>

Hello
You registration for your dog is now registered for the next (3, 6 or 12) months. And that I need to pay the associated amount into bank account 
12-1234-1234-01.

Thank you
From the Team at Doggiedo!!!