<H1>Dog registration confirmation</H1>

<p>Hello <%= @user.name %></p>
<p>The registration for your dog has been received.</p>
<p>Your dog is now registered until <%= (@registration.registration_end).strftime("%d-%m-%Y") %></p>
<br>
<p>To complete this registration you will need to pay <b>$<%=@rate%></b> into the following bank account.</p>

<p><b>Doggiedo Unlimited</b></p>
<p><b>12-1234-1234-01</b></p>

<p>Thank you</p>
<p>From the Team at Doggiedo!!!</p>