<h1> Rates </h1>

<div>
  <% if @rates.present? %>
    <% @rates.each do |rate| %>
    <div>
      <%= rate.period %>
      <%= rate.cost %>     
     </div>
   <% end %>
 <% end %>
</div>

<%= link_to "Back", :back %>